version: '3.8'

services:
  minecraft:
    image: itzg/minecraft-server
    ports:
      - "25565:25565"
    volumes:
      - "./data:/data"
    environment:
      EULA: "TRUE"
      CONSOLE: "false"
      ENABLE_RCON: "true"
      RCON_PASSWORD: ${RCON_PASSWORD}
      RCON_PORT: 25575
      MEMORY: "4G"
    restart: always

  minecord:
    image: astail/minecord
    volumes:
      - "./data/logs:/var/log/minecraft"
    depends_on:
      - minecraft
    environment:
      enable: "chat"
      minecraftRconHost: minecraft
      minecraftRconPort: 25575
      minecraftRconPassword: ${RCON_PASSWORD}
      discordBotToken: ${discordBotToken}
      discordChannel: ${discordChannel}
    restart: always
